* {
  margin: 0;
  padding: 0;
  color: rgb(255, 0, 0);
}

body {
  background-color: dimgray;
  border: 1px solid firebrick;
  height: 100vh;
}
header h1{
  colour: red;
}

button {
  color:  firebrick;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  border: 2px dashed red;
  padding: 10px;
}
.my-image{
  max width: 600px;
  max-height: 600px;
  border: 5px solid red;

}

@media screen and (max-width 992px) {
  .card-item{
    width= 50%
  }
}
@media screen and (max-width:768px){
  card-item{
    width:100%
  }
}