html {
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: dimgray;
  border: 1px solid firebrick;
  height: 100vh;
  position: relative;
}
header > h1 {
  font-size: 5rem;
}

.navbar {
  font-size: 3rem;
  border: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navbar a:hover {
  color: red;
  cursor: pointer;
}
.contact-me {
  background-color: red;
  padding: 1rem;
  margin: 0rem;
}
.contact-me h2 {
  font-size: 3rem;
}

.linkedin-logo {
  padding: 0rem;
  border: 0rem;
  max-width: 80px;
  max-height: 80px;
}
.about-me {
  background-color: royalblue;
  margin: 0;
  padding: 1rem;
  font-size: 2.5rem;
}
.my-image-container {
  text-align: center;
}

.my-image {
  max-width: 600px;
  max-height: 600px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: safe;
}

.card-image {
  border: 1rem;
  display: flex;
  max-width: 1px;
  max-height: 1px;
  background-color: yellow;
}
.my-projects {
  border: 2px dashed red;
  padding: 10px;
}

footer {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .card-item {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .card-item {
    width: 100%;
  }
}
