html {
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: dimgray;
  height: 100vh;
  position: relative;
}

/* my name header */

header > h1 {
  font-size: 5rem;
}

/* nav bar */

.navbar {
  font-size: 3rem;
  border: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.navbar a:hover {
  color: red;
  cursor: pointer;
}
.contact-me {
  padding: 1rem;
  margin: 0rem;
  text-align: center;
}
.contact-me h2 {
  font-size: 3rem;
}

/* logo */

.linkedin-logo {
  padding: 0rem;
  border: 0rem;
  max-width: 80px;
  max-height: 80px;
}

/* about me paragraph */

.about-me {
  background-color: royalblue;
  margin: 0;
  padding: 1rem;
  font-size: 2.5rem;
}

/* my image */
.my-image-container {
  text-align: center;
  margin: 20px auto;
}

.my-image {
  max-width: 600px;
  max-height: 600px;
}
/* all my project cards */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border: blue;
}

.card-image {
  height: 300px;
  width: 300px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.my-projects {
  border: 2px dashed red;
  padding: 10px;
}
/* footer */

footer {
  font-size: 1.5rem;
}

/* media queries */

@media screen and (max-width: 768px) {
  .card-item {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .card-item {
    width: 50%;
  }
}
